{% extends 'base.html' %}
{% load static %}
{% block body %}
		<!--banner start -->

<style>
		.banner {
             background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTElb095bg1cR0UVEDikVcAuavFzD_zh3g-4w&usqp=CAU');
             repeat : no-repeat;
             background-size : 100% 480px;
             background-position:center;
             height : 400px;
             text-align: center;
             z-index: 1;
       }
</style>
		<section id="home" class="banner">
			<div class="container">
				<div class="banner-txt">
					<h2 style="padding-top: 155px;"> Welcome to<br> School Store</h2>
					<p>
						You got what you needed !
					</p>
				</div>
			</div>

		</section><!--/.banner-->
		<!--banner end -->
        <section>
			<div class="about-topic">
               <div class="container">
				   <div style="margin:50px 0px 30px 40px;">
					    <p style="color :black; font-size:15px">Designed to serve the specific, academic needs of the students and faculty, the college store carefully curates educational merchandise and supports the campus community. The store is, however, more than just an academic retailer. Apart from shelves stacked with textbooks, course materials, and other related stationery items, the store also offers the facilities of a café and a specialty store. It is a popular rendezvous where the students go to relax, get a cup of coffee, and form strong alliances among each other and with the staff. The college store is one of the strong community hubs on campus.</p> </h3>
				   </div>
				   </div>

			   </div>

		</section>
        <!--explore start -->

		<section id="explore" class="explore">
			<div class="container">
				<div class="section-header">
					<h2>Explore</h2>
				</div><!--/.section-header-->
				       <div class="col-md-4 col-sm-6">
							<div class="single-explore-item">
								<div class="single-explore-img">
									<img src="https://media.istockphoto.com/id/1129874863/photo/books-on-display-in-the-corner-of-a-second-hand-bookstore.jpg?s=2048x2048&w=is&k=20&c=GUfRSmIfj4sQojLQeNdKgdQ04nfhquOa09ub4zuuvxE=" alt="explore image">
									<div class="single-explore-img-info">
										<button onclick="window.location.href='#'">Most viewed</button>
									</div>
								</div>
							</div>
						</div>
				        <div class="col-md-4 col-sm-6">
							<div class="single-explore-item">
								<div class="single-explore-img">
									<img src="https://media.istockphoto.com/id/1167846999/photo/education.jpg?s=612x612&w=0&k=20&c=N1nymqiKH8GkOcIYNT4EguHtMgJLKn-bIBBfC8EV-UA=" alt="explore image">
									<div class="single-explore-img-info">
										<button onclick="window.location.href='#'">featured</button>
									</div>
								</div>
							</div>
						</div>
				        <div class="col-md-4 col-sm-6">
							<div class="single-explore-item">
								<div class="single-explore-img">
									<img src="https://media.istockphoto.com/id/1027047512/photo/too-many-pencils.jpg?s=612x612&w=0&k=20&c=j_c0gMwH5BRYzmI1NFoLWjgB_GKVY075FL2aREk7kfQ=" alt="explore image">
									<div class="single-explore-img-info">
										<button onclick="window.location.href='#'">featured</button>
									</div>
								</div>
							</div>
						</div>




            </div>

		</section>


{% endblock %}