{% extends 'base.html' %}
{% block body%}
  <div class="container">
      <div style="margin : 50px 20px 20px 350px;">
               {% for msg in messages %}
               <h3>{{msg}}</h3>
               {% endfor %}
             </div>
      <div style="margin: 50px 300px 50px 300px; border: solid black 5px;">
          <div style="padding: 30px 20px 20px 20px; color: #505866;
                  font-size:24px;
                  font-weight: 500px;
                      margin-bottom: 24px;
                   text-transform: uppercase;
                     letter-spacing: 1.3px;" class="section-header">
             <h2>Login</h2>
          </div>
          <div  style="padding: 10px 100px 50px 120px;">
           <form action="{% url 'login' %}" method="post">
              {% csrf_token %}
               <input class="form-control" type="text" name="Username" placeholder="Username" size="10px"> <br> <br>
               <input class="form-control" type="password" name="password" placeholder="your password">   <br> <br>
                <br>
               <input  type="checkbox">
               <label>Remember me </label> <a href="#" style="padding-left:65px;"><h6 style="font-size:15px;">Forgot Password</h6></a> <br> <br>
               <button class="btn btn-danger" type="submit" style="margin-left :120px;">Login</button>

         </form>
              <div style="padding-top :30px;">
                <p>
                    Don't have an account ? <a href="{% url 'register' %}">Register</a>
                </p>
              </div>
     </div>
     </div>
   </div>
{% endblock %}
