{% extends 'base.html' %}
{% block body %}

  <div class="container">
      <div>
               {% for msg in messages %}
               <h3>{{msg}}</h3>
               {% endfor %}
             </div>
    <div>
        <div style="margin: 50px 300px 50px 300px; border: solid gray 6px;">
            <div style="padding: 30px 20px 20px 20px; font-size:10px" class="section-header">
                <h1> REGISTRATION FORM </h1>

            </div>
            <div style="padding: 10px 80px 50px 100px;" >

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                     <input class="form-control" type="text" name="Username" placeholder="Username"> <br> <br>
                     <input class="form-control" type="email" name="e-mail" placeholder="e mail"> <br> <br>
                     <input class="form-control" type="password" name="password" placeholder="password"> <br> <br>
                     <input  class="form-control" type="password" name="password1" placeholder="confirm password">
                    <input  type="checkbox">
                    <label>Remember me </label> <br>

                    <button class="btn btn-primary" type="submit" style="margin-left: 120px;">Submit</button>

                 </form>
                <br> <br>
                <div>
                <p>
                    Already have an account ? <a href="{% url 'login' %}">Login</a>
                </p>
            </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}